<hr class="partition m-0">
<div class="footer-background">
	<footer>
		<div class="container">
			<div class="d-flex justify-content-center pt-4">
				<h4 class="text-center footer-heading pb-2 border-bottom w-50">
					A day in the lap of nature.
				</h4>
			</div>
			<div class="py-4">
				<div class="row">
					<div class="col-md-6">
						<h4 class="red pl-2 my-2">
							Connect With Us
						</h4>
						<div class="address">
							<h5 class="my-3">
								<i class="fas fa-home pr-2"></i>Address</h5>
							<P>
								 Ambawadi, Parsee Panchayat, Andheri(e), Mumbai(FAKE ADDRESS)
							</P>
							<h5 class="my-3">
								<i class="fas fa-mobile pr-2"></i>
								</i>Mobile</h5>
							<P>
								1234567890
							</P>
							<h5 class="my-3">
								<i class="fas fa-envelope pr-2"></i>Email</h5>
							<P>
								contact@contact.com
							</P>
						</div>
					</div>
					<div class="col-md-6">
						<h4 class="red pl-2 my-2">
							Follow Us
						</h4>
						<div class="social-icon">
							<ul class="mt-4">
								<li>
									<a href="https://www.facebook.com/" target="_blank">
										<i class="fab fa-facebook-f icon"></i>
									</a>
								</li>
								<li>
									<a href="https://twitter.com/login" target="_blank">
										<i class="fab fa-twitter icon"></i>
									</a>
								</li>
								<li>
									<a href="https://www.linkedin.com/" target="_blank">
										<i class="fab fa-linkedin-in icon"></i>
									</a>
								</li>
								<li >
									<a href="https://www.youtube.com/" target="_blank">
										<i class="fab fa-youtube icon"></i>
										</i>
									</a>
								</li>
								<li >
									<a href="https://www.instagram.com/" target="_blank">
										<i class="fab fa-instagram icon"></i>
									</a>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>

		</div>
	</footer>
</div>
<div class="footer-reserved text-center py-3">
	<h6>
		© <span id="year"></span> YelpCamp, Inc. All rights reserved.
	</h6>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/rating_simple.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
	var preloader = document.getElementById('loading');

function myFunction() {
	preloader.style.display = 'none';
}

let setyear = document.getElementById('year');
let year = new Date().getFullYear();
setyear.textContent = year;
</script>
</body>

</html>