<%- include ("partials/header") %>
	<link href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap" rel="stylesheet">

	<style>
		.error-heading {
			font-family: 'Arvo', serif;
		}
	</style>
	
<div class="error-bg pb-5">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="text-center error-page">
					<!-- <h1 class="error-heading text-center py-3">
						404
					</h1> -->
					<h1>404</h1>
					<p>Oops! Something is wrong.</p>
					<div>
						Let's
						<a class="btn btn-success mx-3" href="/campgrounds"><i class="fas fa-arrow-circle-left px-2"></i>Go Back</a>
					</div>

				</div>

			</div>

		</div>
</div>
</div>
		<%- include ("partials/footer") %>