<%- include ("partials/header") %>

	<div class="container py-4">
		<div class="row">
			<div class="col-md-12">
				<h3>
					About :
				</h3>
				<p>
					Suppose you're going to choose camping, but you're unsure about which place to settle on from, this is often the most effective place to seek out!</p>
				<p>This site has over 100+ camping area reviews that are reviewed by campers such as you, who have already stayed there.</p>
				<p>
					Their experience is extremely valuable to you, which is why we collect their reviews in order that you'll easily select the campsite of your choice. Furthermore, the facts are periodically verified by a team of pros, so you'll be able to never drift.
				</p>
				<h3>
					About Project :
				</h3>
				<p>
					Yelpcamp is a campground rating app, where customers can create their own campgrounds, view and comment on others' campgrounds.
				</p>
				<p>
					This is a project of Colt Steele's Web Developer Bootcamp course in udemy.
				</p>
				<p>It uses the following technologies : Node.Js, Express.Js, Passport.Js, jQuery ,MongoDB, Bootstrap, EJS template
				</p>
				<h3>
					About Me :
				</h3>
				<h5>Akshay Sawant</h5>
				<p>
					Is the designer of this website.
				</p>
				<div class="social-icon">
							<ul class="mt-4">
								<li>
									<a href="https://www.facebook.com/profile.php?id=100051994715288" target="_blank">
										<i class="fab fa-facebook-f icon"></i>
									</a>
								</li>
								<li>
									<a href="https://github.com/akshay-sawant84" target="_blank">
										<i class="fab fa-github icon"></i>
									</a>
								</li>
								<li>
									<a href="https://www.linkedin.com/in/akshay-sawant-46ba67182/" target="_blank">
										<i class="fab fa-linkedin-in icon"></i>
									</a>
								</li>
								<li >
									<a href="https://www.instagram.com/_.sawant_akshay._/" target="_blank">
										<i class="fab fa-instagram icon"></i>
									</a>
								</li>
							</ul>
				</div>
			</div>
		</div>
	</div>

	<%- include ("partials/footer") %>