<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Suppose you're going to choose camping, but you're unsure about which place to settle on from, this is often the most effective place to seek out!">
	<meta name="keywords" content="camp, camping, campground, adventure, climb, vacation, nature, tent, hill, campers, bonfire, activities, backpack">
	<meta name="author" content="Akshay Sawant">
	<meta name="google-site-verification" content="393mgxKDlPxjqcES-2dOeQsc1oVa54MnCl59O29304c" />
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
	<link rel="stylesheet" href="/stylesheets/landing.css">
	<link rel="icon" type="image/png" href="/logo.jpg" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
	<title>YelpCamp - Rediscover the joy of camping</title>
</head>

<body onload="setTimeout('myFunction()', 1000)">
	 <div id="loading"></div>

    <div id="landing-header">
 		<h1 class="my-2 display-4">Welcome to YelpCamp!</h1>
		<h3 class="text-warning">
			Watch nature closely.
		</h3>
		<hr class="w-50">
		
		<a href="/campgrounds" class="btn btn-lg btn-primary"><i class="fas fa-tree pr-2"></i>View All Campgrounds <i class="fas fa-paper-plane px-2"></i></a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

	</body>
	<script>
        var preloader = document.getElementById('loading');

        function myFunction() {
            preloader.style.display = 'none';
        }
    </script>
</html>